@import '../node_modules/bootstrap/scss/bootstrap.scss';
.movie-line-entity.grid-view{
    flex-direction: column;
    height: 100%;
    overflow: hidden;
    position: relative;

    .entity-poster{
        width: 100%;

    }
    .entity-content{
        position: absolute;
        bottom: 0;
        background-color: white;
        transform: translateY(100%);
        transition: 0.3s;
    }
    &:hover{
        .entity-content{
            transform: translateY(0%);
        }
    }

}